<div id="movies-show">
    <h2><%= @movie.title %></h2>
    <div class="movies-show-left">
        <%= image_tag(@movie.coverpath) %>
    </div>
    <div class="movies-show-right">
        <h3>Movie Info: </h3>
        <ul>
            <li><strong>Genre: </strong><%= @movie.genre.name %></li>
            <li><strong>Director: </strong><%= @movie.director.first_name %> <%= @movie.director.last_name %> </li>
            <li><strong>Writer: </strong><%= @movie.writer.first_name%> <%= @movie.writer.last_name %> </li>
            <li><strong>Producer: </strong><%= @movie.producer.first_name %> <%= @movie.producer.last_name %> </li>
            <li><strong>Studio: </strong><%= @movie.studio.name %></li>
            <li><strong>Year: </strong><%= @movie.year.year %></li>
            <li><strong>Rated: </strong><%= @movie.rating.rating %></li>
            <li><strong>Duration: </strong><%= @movie.duration %> mins</li>
            <li><strong>Release Date: </strong><%= @movie.release_date %></li>
        </ul>
        <%= link_to 'Buy', @movie.link ,class:'btn btn-success',target:'_blank' %>
    </div>
    <div class="clearfix"></div>
    <h4>Excerpt</h4>
    <p>
    <%= @movie.plot %>
    </p>
    <h3>Admin Functions </h3>
    <%= link_to 'Edit', edit_movie_path(@movie.id), class: "btn btn-default btn-sm" %> |
    <%= link_to 'Delete', movie_path(@movie), method: :delete, class: "btn btn-danger btn-sm", data: { confirm: "Are you sure?" } %>
</div>
