<h2>Add New Studio</h2>
<%= form_for @studio do |f| %>

    <% if @studio.errors.any? %>
        <% @studio.errors.full_messages.each do |msg| %>
            <div class="alert alert-danger"><%= msg %> </div>
        <% end %>
    <% end %>
    <div class="form-group">
        <%= f.label :name %><br />
        <%= f.text_field :name, class:'form-control' %><br />
    </div>
    <%= f.submit "Submit", class:'btn btn-primary' %>
    <%=link_to "Cancel", studios_path, class:'btn btn-default' %>
<%end %>

