<h2>Add New Rating</h2>
<%= form_for @rating do |f| %>
    <% if @rating.errors.any? %>
        <% @rating.errors.full_messages.each do |msg| %>
            <div class="alert alert-danger"><%= msg %> </div>
        <% end %>
    <% end %>
    <div class="form-group">
        <%= f.label :rating %><br />
        <%= f.text_field :rating, class:'form-control' %><br />
    </div>
    <%= f.submit "Submit", class:'btn btn-primary' %>
    <%=link_to "Cancel", ratings_path, class:'btn btn-default' %>
<%end %>

