<h2>Add New Year</h2>
<%= form_for @year do |f| %>
    <% if @year.errors.any? %>
        <% @year.errors.full_messages.each do |msg| %>
            <div class="alert alert-danger"><%= msg %> </div>
        <% end %>
    <% end %>
    <div class="form-group">
        <%= f.label :year %><br />
        <%= f.text_field :year, class:'form-control' %><br />
    </div>
    <%= f.submit "Submit", class:'btn btn-primary' %>
    <%=link_to "Cancel", genres_path, class:'btn btn-default' %>
<%end %>
