<h2>Edit Producer</h2>
<%= form_for @producer do |f| %>
    <% if @producer.errors.any? %>
        <% @producer.errors.full_messages.each do |msg| %>
            <div class="alert alert-danger"><%= msg %> </div>
        <% end %>
    <% end %>
    <div class="form-group">
        <%= f.label :first_name %><br />
        <%= f.text_field :first_name, class:'form-control' %><br />
    </div>
    <div class="form-group">
        <%= f.label :last_name %><br />
        <%= f.text_field :last_name, class:'form-control' %><br />
    </div>
    <%= f.submit "Submit", class:'btn btn-primary' %>
    <%=link_to "Cancel", producers_path, class:'btn btn-default' %>
<%end %>
